table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

form {
    width: 650px;
}

label {
    display: block;
    padding: 10px;
    margin: 5px 0;
}

input {
    width: 80%;
    padding: 10px;
}

button {
    margin: 15px 0;
    width: 84%;
    padding: 10px;
}